<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>GEA Capital</title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href = "font/stylesheet.css" rel = "stylesheet" type = "text/css" />
         <link rel="shortcut icon" href="/imagenes/GEA/GEA.png">
        <!-------Fonts----------->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fenix&display=swap" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <!-- Styles -->
       
<style type="text/css">
    .carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {

  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
}
.container-fluid{
  padding-right: var(--bs-gutter-x, 0.001rem);
  padding-left: var(--bs-gutter-x, 0.001rem);
}
body{
  /*background-image:url('imagenes/GEA/Fondo GEA obscuro 2.png');*/


    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*color: white;*/

}
p{
  font-family: 'Fenix', serif;;
}
h5{
  font-family: 'Fenix', serif;;
}
h1 {font-family: 'Incompleeta';
}

input::placeholder {
  font-family: 'Fenix', serif;;
}
textarea::placeholder {
  font-family: 'Fenix', serif;;
}
.people-wrap {
  
  display: flex;
  align-items: center
}
.img 
{
  display: block
  /* remove gap*/
}
</style>
</head>
<body>
  <br>
  <div class="container-fluid bg-light">
    <div class="row">
      <div class="col-lg-7 col-sm-12">
                    <!--Inicio de carrusel-->
    <div class="container-fluid">
       <div id="myCarousel" class="carousel slide" data-bs-ride="carousel"  style="margin-bottom: 0px;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="height: 100%;">
        <!--Aqui poner la imagen-->
        <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
        
       <img class="img-fluid" src="/imagenes/INAH2_1 - Photo.jpg">
        </a>
        
      </div>
      <div class="carousel-item" style="height: 100%;">
       <!--Aqui poner la imagen-->
       <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal1">
       <img class="d-block w-100" src="/imagenes/INTERIOR_15 - Foto.jpg">
   </a>
        
      </div>
      <div class="carousel-item" style="height: 100%;">
       <!--Aqui poner la imagen-->
       <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal2">
       <img class="d-block w-100" src="/imagenes/INTERIOR_19 - Foto.jpg">
   </a>
       
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Despues</span>
    </button>
  </div>
  <br>
  <br>
  <br>
    </div>
    <!------Fin de carrusel---------->
    
  </div>
  <div class="col-lg-5 col-sm-12">
     <center>
                      <img src="/imagenes/GEA/AlcolhuaPequeño2.png" style="width: 100%;">
                       
                    </center>
                    <p><b>4 exclusivos departamentos en el corazón de la ciudad de Toluca.</b></p>
                    <div style="display: flex;">
                      <div style="display: inline; padding: 10px;">
                        <p>Desde:</p>
                        <h3>1000$</h3>
                      </div>
                      <div style="display: inline; padding: 10px;">
                        <p>Hasta:</p>
                        <h3>100000$</h3>
                      </div>
                    </div>
                    <center>
                    <hr style="width: 95%;">
                    </center>
                    <!--
                      ICONOS
                      --->
                      <h5 style = "line-height: 20px; font-family: 'Bebas Neue', cursive; display: inline; padding: 20px;">
                              <img src = '/imagenes/GEA/Estacionamiento.png' width="45" height="45" style='vertical-align: middle' /> 1-2
                            </h5>
                       
                            <h5 style = "line-height: 20px; font-family: 'Bebas Neue', cursive; display: inline; padding: 20px;">
                              <img src = '/imagenes/GEA/Recámaras.png' width="50" height="50" style='vertical-align: middle' />2-3
                            </h5>
                            <h5 style = "line-height: 20px; font-family: 'Bebas Neue', cursive; display: inline; padding: 20px;">
                              <img src = '/imagenes/iconos/measurement-vertical.svg' width="30" height="30" style='vertical-align: middle' />2-3
                            </h5>
                             <h5 style = "line-height: 20px; font-family: 'Bebas Neue', cursive; display: inline; padding: 20px;">
                              <img src = '/imagenes/GEA/Baños.png' width="50" height="50" style='vertical-align: middle' />2-3
                            </h5>
                            <h5 style = "line-height: 20px; font-family: 'Bebas Neue', cursive; display: inline; padding: 20px;">
                              <img src = '/imagenes/GEA/Terraza.png' width="50" height="50" style='vertical-align: middle' />
                            </h5>
                            <div>
                       <span class="badge rounded-pill bg-dark text-light">Pre-venta</span>
                       <span class="badge rounded-pill bg-dark text-light">En pagos</span>
                     </div> 
                            <center>
                             
                    <hr style="width: 95%;">
                    </center>
                    <div style="float: right; padding-right: 10px;">

                     <a type="button" class="btn btn-dark text-light" href="#">Ver mas</a>
                       
                    </div>
  </div>
    </div>
  </div>
    <br>
    <!------Segunda vista----------->
  <div class="container-fluid bg-dark text-light">
    <div class="row">
      <div class="col-lg-7 col-sm-12">
                    <!--Inicio de carrusel-->
    <div class="container-fluid">
       <div id="myCarousel" class="carousel slide" data-bs-ride="carousel"  style="margin-bottom: 0px;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="height: 100%;">
        <!--Aqui poner la imagen-->
        <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
        
       <img class="img-fluid" src="/imagenes/INAH2_1 - Photo.jpg">
        </a>
        
      </div>
      <div class="carousel-item" style="height: 100%;">
       <!--Aqui poner la imagen-->
       <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal1">
       <img class="d-block w-100" src="/imagenes/INTERIOR_15 - Foto.jpg">
   </a>
        
      </div>
      <div class="carousel-item" style="height: 100%;">
       <!--Aqui poner la imagen-->
       <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal2">
       <img class="d-block w-100" src="/imagenes/INTERIOR_19 - Foto.jpg">
   </a>
       
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Despues</span>
    </button>
  </div>
  <br>
  <br>
  <br>
    </div>
    <!------Fin de carrusel---------->
    
  </div>
  <div class="col-lg-5 col-sm-12">
     <center>
                      <img src="/imagenes/GEA/AlcolhuaPequeño.png" style="width: 100%;">
                       
                    </center>
                    <p><b>4 exclusivos departamentos en el corazón de la ciudad de Toluca.</b></p>
                    <div style="display: flex;">
                      <div style="display: inline; padding: 10px;">
                        <p>Desde:</p>
                        <h3>1000$</h3>
                      </div>
                      <div style="display: inline; padding: 10px;">
                        <p>Hasta:</p>
                        <h3>100000$</h3>
                      </div>
                    </div>
                    <center>
                    <hr style="width: 95%;">
                    </center>
                    <!--
                      ICONOS
                      --->
                      <h5 style = "line-height: 20px; font-family: 'Bebas Neue', cursive; display: inline; padding: 20px;">
                              <img src = '/imagenes/GEA/Estacionamiento1.png' width="45" height="45" style='vertical-align: middle' /> 1-2
                            </h5>
                       
                            <h5 style = "line-height: 20px; font-family: 'Bebas Neue', cursive; display: inline; padding: 20px;">
                              <img src = '/imagenes/GEA/Recámaras1.png' width="50" height="50" style='vertical-align: middle' />2-3
                            </h5>
                            <h5 style = "line-height: 20px; font-family: 'Bebas Neue', cursive; display: inline; padding: 20px;">
                              <img src = '/imagenes/iconos/measurement-vertical.svg' width="30" height="30" style='vertical-align: middle' />2-3
                            </h5>
                             <h5 style = "line-height: 20px; font-family: 'Bebas Neue', cursive; display: inline; padding: 20px;">
                              <img src = '/imagenes/GEA/Baños1.png' width="50" height="50" style='vertical-align: middle' />2-3
                            </h5>
                            <h5 style = "line-height: 20px; font-family: 'Bebas Neue', cursive; display: inline; padding: 20px;">
                              <img src = '/imagenes/GEA/Terraza1.png' width="50" height="50" style='vertical-align: middle' />
                            </h5>
                            <div>
                       <span class="badge rounded-pill bg-light text-dark">Pre-venta</span>
                       <span class="badge rounded-pill bg-light text-dark">En pagos</span>
                     </div> 
                            <center>
                             
                    <hr style="width: 95%;">
                    </center>
                    <div style="float: right; padding-right: 10px;">

                     <a type="button" class="btn btn-light text-dark" href="#">Ver mas</a>
                       
                    </div>
  </div>
    </div>
  </div>
      <!------------Inicio de socios comerciales--->
    <br>
    <p>Centrado fondo</p>
    <br>
    <div class="container-fluid text-light"  id="imgSocio" style="background-image:url('imagenes/GEA/Fondo GEA obscuro 2.png');
     background-repeat: no-repeat;
 background-position:center;
  background-size: cover;
   background-attachment: fixed;">
        
        
        
<div class="container" id="Socios">
  <br>
  <br>
        <br>
        <center>
            <h1>Socios Comerciales</h1>
            <br>
            <br>
        </center>
        <center>
            <h4><i>Cada año esta industria se reinventa y es por lo que buscamos estar en vanguardia con socios
comerciales como parte importante de nuestros procesos.</i></h4>
<br>
        </center>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <center>
                <img class="d-block w-100" src="/imagenes/AMIDLogo1.png">
                </center>
            </div>
            <div class="col-lg-3 col-sm-6 d-flex flex-wrap align-items-center">
                <center>
                <img  class="d-block w-100" src="/imagenes/LOGO BLANCO 1.png">
                </center>
            </div>
            <div class="col-lg-3 col-sm-6 d-flex flex-wrap align-items-center">
                <center>
                <img class="d-block w-100" style="" src="/imagenes/LOGO CODE TRANSPARENTE_Mesa de trabajo 1.1.png">
                </center>
            </div>
            <div class="col-lg-3 col-sm-6  flex-wrap align-items-center">
                <center>
                <img class="d-block w-100" src="/imagenes/Logo omni blanco.png">
                </center>
            </div>
        </div>
      </div>
        <br>
        <br>
        <br>
    </div>    
    <!--------Fin de socios comerciales--------------->
   <script src="js/bootstrap.js" crossorigin="anonymous"></script>
</body>
</html>